body {
  font-family: 'Cabin', 'sans-serif';
  background-image: url("../images/background-layout.PNG");
}

.opening-statement {
  color: #B22222;
  padding: 6px;
}

.pictures {
  display: block;
  width: 100%;
  height: auto;
}

.pictures h3 {
  color: #B22222;
}
